

html *
{font-family: Arial}


/* Style the tab */
.tab {
    float: left;
    /*border: 1px solid #ccc;*/
    background-color: #fff;
    width: 20%;
  	margin-left: 1em;
	margin-top: 0em;
}
.tab h3{    
  font-size: 28pt;
  width: 98%;
  height:50px;
  padding: 0px 16px 0;
  background-color: #fff;
  padding-bottom: 1px;
  border-bottom: 4px double #493636;
  margin-bottom: 10px;
  position: relative;
}
.tabb{
	margin-left:1em;
	margin-top:0.5em;
}
.tabb a{
	color:#B1ADAD;
}
.tabb a:hover {
    color: #ffc400;
}
.tabb a.active {
  color: #030303;
}





/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding:  10px 16px 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #EBEBEB;
}

/*#artsEventTab.style.display = "block"*/

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #454445;
  color:white;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 75%;
    border-left: none;
    min-height: 600px;
}


@media (max-width: 700px) { 
    .tab {width: 100%;; }
    .tabcontent{width: 100%;}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    z-index: 3;
}

@media (max-width: 700px) { 
    .modal-content {width: 100%;}
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
     

/*!!!!!! MAP !!!!!!*/

     /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    
    /*#map {
        height: 200pt;
        width: 60%;
        margin: 0 auto 0 auto;

      }*/
    #cameraData {display: none;}
    #policeData {display: none;}
    #taxiData {display: none;}



/*.modal-content input {
  width: 50px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  overflow: auto;
}*/



/* Style the buttons that are used to open and close the accordion panel for events*/
.accordion {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active:hover {
    background-color: #ccc;

}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    
    
}






.HeadEvent {
    font: Arial;
    width:100%; 
    white-space: nowrap;
}



/* Style the tab */
.horizontalTab {
    overflow: hidden;
    border: 1px solid white;
    background-color: #232323;

}

/* Style the buttons inside the tab */
.horizontalTab button {
    background-color: #232323;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;


}
    @media (max-width: 770px){
.horizontalTab {padding: 10px 20px;}

}


/* Change background color of buttons on hover */
.horizontalTab button:hover {
    background-color: #b37700;
}

/* Create an active/current tablink class */
.horizontalTab button.active {
    background-color: #EEC440;
    color: black
}

/* Style the tab content */
.mapOrInfoPanelContent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the tab content */
.mapOptions {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

.choice {
    padding: 5px;
    cursor: pointer; 
    border: 1px; 
    box-shadow: none; 
    border-radius: 0px; 
    width:155px;
}


/*===========================================Alternative Directions Tabs =================================*/

/* Style the tab */
#directionsTab {
    overflow: hidden;
    border: none;
    background-color: white;
}

/* Style the buttons inside the tab */
#directionsTab button {
    background-color: #232323;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0 0 12px;
    transition: 0.3s;
    font-size: 17px;
    width: 20%;
}

/* Change background color of buttons on hover */
#directionsTab button:hover {
    background-color:#b37700;
}

/* Create an active/current tablink class */
#directionsTab button.active {
    background-color: #EEC440;
    color: black;
}

/* Style the tab content */
.directionstabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px;
    border-top: none;
    background-color: #f1f1f1;
    height: 250px;
    overflow: auto;
}


/*===========================================direction mode radio button =================================*/

#mode-selector label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
#mode-selector label > input + i{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  color:grey;
}
#mode-selector label > input:checked + i{ /* (RADIO CHECKED) IMAGE STYLES */
  color:black;
}

/*===========================================hazard selector radio button =================================*/

#hazard-selector label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */

}
#hazard-selector label > input + div{ /* IMAGE STYLES */
    padding: 5px;
    cursor: pointer; 
    border: 1px; 
    box-shadow: none; 
    border-radius: 0px; 
    width:155px;
    background-color:#EEC440;
    color: black;
}
#hazard-selector label > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
  background-color:black;
  color:#EEC440
}


/* =========================================== Slider ============================================== */

.slidecontainer {
    
    display: inline-block;
}

.slider {

    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ffa31a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.routeTablink1 {
    overflow: scroll
}


/* =========================================== Pagination ============================================== */


.pageTab {
    display: inline-block;

}

.pageTab button {
    background-color: white;
    color: black;
    float: left;
    padding: 8px 16px;
    border: 1px; 
    box-shadow: none; 
    border-radius: 0px;
}

.pageTab button.active {
    background-color: #FEB728; 
    padding: 8px 16px;
    border: 1px; 
    box-shadow: none; 
    border-radius: 0px;
}

.pageTab button:hover:not(.active) {background-color: #ddd;}

.horizontalTab button{
    color: white; 
    background-color: #1a1a1a;
    width: 25%;
}

.horizontalTab button:active{
    color: yellow; 
    background-color: #1a1a1a;
    width: 25%;
}

/*============================================ Mobile vs Desktop format ================================ */

.mobileOnlyRow {display:none;}
.mobileOnlyCell {display:none;}
.desktopOnlyRow {display:table-row;}
.desktopOnlyCell {display:table-cell;}
#directionsPanel {float: left; width: 30%; padding-left:25px;}
#mapAndInfoPanel {float: left; width: 70%; padding-right:25px;}

#directionsOutput {width: 95%; height: 250px; overflow: auto;}
#mainTable {content: ""; display: table; clear: both; width: 100%;}
@media (max-width: 700px) { 
    .mobileOnlyRow {display:table-row; }
    .mobileOnlyCell {display:table-cell; }
    .desktopOnlyRow {display:none;}
    .desktopOnlyCell {display:none;}
    #directionsPanel {display: block;  width: 100%; padding:5px; }
    #mapAndInfoPanel {display: block;  width: 100%; padding:5px; position: right;}
    .mapOrInfoPanelContent {padding: 0px ; border: none; border-top: none; width: 100%}
    #directionsOutput {width: 100%; height:unset}

    #mainTable {display: flex; flex-direction: column; width: 100%;}

    #mainTable > #directionsPanel {order: 2; width: 100%;} /* Will be displayed second */
    #mainTable > #mapAndInfoPanel {order: 1; width: 100%} /* Will be displayed first  */
}


#origin-input {width:250px;
                border: 1px solid #bfbfbf;}
@media (max-width: 942px) { 
    #origin-input {width:98%}
}



